<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Your Pig Latinized Text:</h1>
    <%=PigLatinizer.new.piglatinize(@piglatinized_text)%>
    
  
  </body>
</html>