<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>PigLatinzer</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action = "/piglatinize" method = "POST">
        <label for = "string">Enter your phrase:</label>
        <input type = "text" name = "user_phrase" id = "string">
        <input type ="submit" name ="submit" id = "submit">
    </form>
  
  </body>
</html>